extends layout

block content

    link(rel='stylesheet', href='css/p1.css')

    body
      .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/greetingadmin') Coding House
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/userlist') Account Management

                    li.dropdown.one
                        a.dropdown-toggle.index.one(data-toggle='dropdown')
                            | Assignments
                            span.caret
                        ul.dropdown-menu.index.one(role='menu')
                            li
                                a(href='/ph1sp1admin') Phase 1
                            li
                                a(href='/ph2sp1admin') Phase 2
                    li.dropdown.two
                        a.dropdown-toggle.index.two(data-toggle='dropdown')
                            | Restaurants
                            span.caret
                        ul.dropdown-menu.index.two(role='menu')
                            li
                                a(href='/neworder') New Order
                            li
                                a(href='/orderhistory') Order History
                            li
                                a(href='/newrestaurant') Add New Restaurant
        script(type='text/javascript').
            $(document).ready(function() {
                $(".dropdown-toggle.index.one").mouseenter(function(){
                    $(".dropdown-menu.index.one").slideDown();
                });

                $("li.dropdown.one").mouseleave(function(){
                    $(".dropdown-menu.index.one").slideUp();
                });
                $(".dropdown-toggle.index.two").mouseenter(function(){
                    $(".dropdown-menu.index.two").slideDown();
                });

                $("li.dropdown.two").mouseleave(function(){
                    $(".dropdown-menu.index.two").slideUp();
                });
            });

      .container
        .row.clearfix
          .column.col-xs-1
          #listbox.column.col-xs-4
            h2 Order List
            h5 Total Votes :
            h5 Restaurant Name
            h6 Phone number
            .line-separator
            label
              input#checkbox(type='checkbox')
              #menulist
                span No. of items:
                span Menu item:
                span Special Req:
            .line-separator
            label
              input#checkbox(type='checkbox')
              #menulist
                span No. of items:
                span Menu item:
                span Special Req:
            .line-separator
            label
              input#checkbox(type='checkbox')
              #menulist
                span No. of items:
                span Menu item:
                span Special Req:
            .row.clearfix
              #buttons.column.col-xs-12
                button#remove.btn.btn-primary(type='button') Remove Selected Orders
                button.btn.btn-primary(type='button') Clear Votes
            .row.clearfix
              .column.col-xs-12
                button#submit.btn.btn-success(type='button') Submit Order
