extends layoutuser

block content
    .row
        .col-md-2
            .sidebar(style='border-right: 1px solid grey; padding-right: 0; border-bottom: 1px solid grey;')
                ul.nav.nav-sidebar
                    p.phases Phase II
                        ul
                            li.sprints
                                a(href='/ph2sp1') Sprint 1
                            li.sprints
                                a(href='/ph2sp2') Sprint 2

        .col-md-8
            h2 Sprint 1: Node.js Intro
            ul
                li
                    form#formSubmitTask(name="addTask",method="post",action="/addTaskSave21")
                        each task in tasks[5].tasklist
                            li
                                p= task.task

            h3 Assignments
            ul
                li Introduction to HTML5 (instructor-led)
                li Tasks: creating HTML5 Web pages with HTML5 technologies
                li Overview of HTML5 technologies
                li CSS3
                form#formsubmitAssignment(name="addAssignment",method="get",action="/addAssignmentSave")
                    //input#inputQuestion(type="file", placeholder=".zip", name="Assignment")
                    //button#btnSubmit(type="submit") Submit Assignment

            h3 Questions
            ol
                each question in questions[3].questionlist
                    li
                        p= question.question

                form#formSubmitQuestion(name="addQuestion",method="post",action="/addQuestionSave21")
                    input#inputQuestion(type="text", placeholder="Question", name="inputQuestion")
                    button#btnSubmit(type="submit") Submit Question

            h3 Answers
            ol
                each answer in answers[4].answerlist
                    li
                        p= answer.answer



